{% extends 'base.html.twig' %}

{% block title %}Edit Displines{% endblock %}

{% block body %}
    <h1>Edit Displines</h1>

    {{ include('displines/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_displines_index') }}">back to list</a>

    {{ include('displines/_delete_form.html.twig') }}
{% endblock %}
