{% extends 'base.html.twig' %}

{% block title %}New Classe{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="section">
            <div class="titre">
                <h2><h1>Nouvelle Classe</h1></h2>
            </div>
            <div class="container">
                <div class="row">
                    {{ include('classe/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    

    
{% endblock %}
