<form method="post" action="{{ path('app_eleves_delete', {'id': elefe.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');" style="float: right;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ elefe.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
</form>
