{% extends 'base.html.twig' %}

{% block title %}New Eleves{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="section">
            <div class="titre">
                <h1>Nouvelle Eleve</h1>
            </div>
            <div class="contanaire">
                <div class="row">
                    {{ include('eleves/_form.html.twig') }}

                    <a class="btn btn-primary" href="{{ path('app_eleves_index') }}"> << back to list</a>
                </div>
            </div>
            
        </div>
    </div> 
    

    
{% endblock %}
